body{
    background-color: #FAFAFA;
}
#login_form
{
    background-color: white;
    border: 1px solid lightgray;
    width: 350px;
    height: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#user 
{
    width: 300px;
}
#frm
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#log{
    width: 300px;
}
#logo{
    text-align: center;
    position: relative;
    top: 10px;
}
#forgot{
    position: relative;
    text-align: center;
    top: 250px;
}
#logup
{
    background-color: white;
    width: 350px;
    height: 50px;
    border: 1px solid lightgray;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -75%);
}
#signup{
    margin: auto;
    text-align: center;
    position: relative;
    top: 10px;
}
#up{
    display: flex;
    margin: auto;
    vertical-align: middle;
}

