body {
	background-color: whitesmoke;
}

.username {
	text-decoration: none;
	font-size: 20px;
	font-family: Verdana;
	color: dimgrey;
}

#logo {
	font-family: Billabong;
	font-size: 50px;
	text-decoration:none;
}

.rounded-circle {
	width: 5%;
	height: 5%;
}

.create_date {
	color: lightgrey;
}

.profile {
	width: 40px;
}

.camera {
	margin-right: 2rem;
	width: 50%;
}

.image {
	width: 50%;
}

.buttons {
	width: 60%;
	height: auto;
}
.filters {
	width: 54%;
	height: 100px;
}

label {
	display: block;
	position: relative;
	cursor: pointer;
  }
  
  label:before {
	background-color: white;
	color: white;
	content: " ";
	display: block;
	border-radius: 50%;
	border: 1px solid grey;
	position: absolute;
	top: -5px;
	left: -5px;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 28px;
	transition-duration: 0.4s;
	transform: scale(0);
  }
  
  label img {
	transition-duration: 0.2s;
	transform-origin: 50% 50%;
  }
  
  :checked + label:before {
	content: "✓";
	background-color: green;
	transform: scale(1);
  }
  
  :checked + label img {
	transform: scale(0.9);
	z-index: -1;
  }

#filters
{
	position: absolute;
	top: 10%;
	left: 10%;
}

.filter {
	width: 40%;
}

.information {
	width: 70%;
}

.card-img-top {
	border: 1px solid grey;
}

i {
	width: 30px;
	height: auto;
}

#edit_div {
	display: none;
}

#thum {
	height: 20rem;
}

.column {
	float: left;
	width: 23%;
	height: auto;
}

.filter_img {
	width: 70%;
	height: 10%;
}

.edit-btn {
	width: 40%;
}

.del-btn {
	width: 40%;
}
.gallery {
	width: 33.33%;
	min-width: 200px;
	min-height: auto;
}
.infos {
	width: 25%;
}
.profile-pic {
	border-radius: 50%;
	width: 13vw;
	height: 13vw;
	object-fit: cover;

}
.update-btn {
	width: 60%;
}
.cancel-btn {
	width: 40%;
}

.post-user {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;  
	border: 1px solid black;
	object-fit: cover;
}

.out-btn {
	width: 1.5rem;
	height: 1.5rem;
}

.list-out-btn {
	width: 1.5rem;
	height: 1.5rem;
}

.cam-btn {
	width: 2rem;
	height: 2rem;
}

.list-cam-btn {
	width: 2rem;
	height: 2rem;
}

.profile-btn {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	object-fit: cover;
}

.list-profile-btn {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	object-fit: cover;
}

.list-btn {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
}

.list-toggle {
	display: none;
}

.gallery-container {
	width: 70%;
}

.post-container {
	width: 60%;
	height: 60rem;
}
.post-img {
	width: 100%;
	height: 50rem;
	object-fit: cover;
}

.liste {
	display: none;
	position: absolute;
	right: 10%;
	top: 15%;
	background-color: whitesmoke;
	border: 1px solid black;
	width: 10rem;
}
.liste ul {
	list-style: none;
}

.liste ul li a {
	text-decoration: none;
}

@media screen and (max-width:1200px)
{
	.cam-btn {
		display: none;
	}
	.out-btn {
		display: none;
	}
	.profile-btn {
		display: none;
	}
	.list-toggle {
		display: block;
	}
	.list-toggle:hover .liste {
		display: block;
	}
	.post-container {
		width: 70%;
		height: auto;
	}
	.post-img {
		width: 100%;
		height: 50%;
	}
}