body {
	background-color: whitesmoke;
}

.username {
	text-decoration: none;
	font-size: 20px;
	font-family: Verdana;
	color: dimgrey;
}

#logo {
	font-family: Billabong;
	font-size: 50px;
	text-decoration:none;
}

.rounded-circle {
	width: 5%;
	height: 5%;
}

.create_date {
	color: lightgrey;
}

#cam {
	height: 50vh;
}