/* 01 General */
/* 02 Navbar */
/* 03 Index page */
/* 04 Post Add page */
/* 05 Users profile page */

/* ********** */
/* 01 General */
/* ********** */

body {
	background-color: whitesmoke;
}

i {
	width: 30px;
	height: auto;
}

/* ********* */
/* 02 Navbar */
/* ********* */

#logo {
	font-family: Billabong;
	font-size: 50px;
	text-decoration:none;
}

.out-btn {
	width: 1.5rem;
	height: 1.5rem;
}

.list-out-btn {
	width: 1.5rem;
	height: 1.5rem;
}

.cam-btn {
	width: 2rem;
	height: 2rem;
}

.list-cam-btn {
	width: 2rem;
	height: 2rem;
}

.profile-btn {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	object-fit: cover;
}

.list-profile-btn {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	object-fit: cover;
}

.list-btn {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
}

.list-toggle {
	display: none;
}

.liste {
	display: none;
	background-color: whitesmoke;
	border: 1px solid grey;
	width: 200px;
	position: absolute;
	right: 5%;
	margin-top: 10px;
	z-index: 100;
	transition: 1s;
}

.liste ul {
	list-style: none;
}

.liste ul li a {
	text-decoration: none;
}

@media screen and (max-width:1200px)
{
	.cam-btn {
		display: none;
	}
	.out-btn {
		display: none;
	}
	.out-link {
		display: none;
	}
	.profile-btn {
		display: none;
	}
	.list-toggle {
		display: block;
	}
	.post-img {
		width: 100%;
		height: auto;
	}

	.profile-pic {
		border-radius: 50%;
		width: 20vw;
		height: 20vw;
		object-fit: cover;
	
	}
}

@media screen and (min-width:1200px)
{
	
}
/* ************* */
/* 03 Index page */
/* ************* */

.post-container {
	width: 60%;
	height: auto;
	border: 1px solid gainsboro;
	padding: 0;
	padding-top: 10px;
}

.post-img {
	width: 100%;
	height: 40vh;
}

.img-container {
	width: 100%;
	height:50%;
}
.create_date {
	color: lightgrey;
}

.post-user {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;  
	border: 1px solid black;
	/* object-fit: cover; */
}

.card-footer {
	background-color: white;
	height: 5rem;
}

.comment ul{
	list-style: none;
}

.comment ul li {
	border-bottom: 1px solid Gainsboro;
	width: 80%;
	border-radius: 10px;
}

.post-btn {
	border-radius: 0;
	border: 0;
	background-color: white;
	border-top: 0.5px solid Gainsboro;
	
}

.comment-input
{
	border-radius: 0;
	border: 0;
	border-top: 0.5px solid Gainsboro ;
}

.delete-comment {
	width: 1rem;
	height: 1rem;
	position: relative;
	top: -20px;
	left: -10px;
}
/* **************** */
/* 04 Post Add page */
/* **************** */

.camera {
	margin-right: 2rem;
	width: 50%;
}

.image {
	width: 50%;
}

.buttons {
	width: 30vw;
	height: auto;
	margin: 10px;
}

.column {
	float: left;
	width: 23%;
	height: 4vh;
	margin-right: 1px;
}

#thum {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.filter {
	width: 30%;
}

.filter_img {
	width: 100%;
	height: 100%;
}

#filters
{
	position: absolute;
	top: 5%;
	left: 5%;
	width: 5vw;
	height: 5vw;
}

#pic {
	width: 100%;
	height: 100%;
}

#upload {
	width: 5%;
}

@media screen and (max-width:800px)
{
	#thum {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.filter_img {
		width: 2vh;
		height: 2vh;
		position: relative;
		left: -10px;
		top: 7px;
	}
}

label {
	display: block;
	position: relative;
	cursor: pointer;
	width: 100%;
	height: 100%;
  }
  
  label:before {
	background-color: white;
	color: white;
	content: " ";
	display: block;
	border-radius: 50%;
	border: 1px solid grey;
	position: absolute;
	top: -5px;
	left: -5px;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 28px;
	transition-duration: 0.4s;
	transform: scale(0);
  }
  
  label img {
	transition-duration: 0.2s;
	transform-origin: 50% 50%;
  }
  
  :checked + label:before {
	content: "✓";
	background-color: green;
	transform: scale(1);
	z-index: 100;
  }
  
  :checked + label img {
	transform: scale(0.9);
	z-index: -1;
  }


/* ********************* */
/* 05 Users profile page */
/* ********************* */

.information {
	width: 70%;
	display: flex;
	flex-direction: row;
}

.infos {
	width: 25%;
	margin-right: 5%;
}

.profile-pic {
	border-radius: 50%;
	width: 12vw;
	height: 12vw;
	object-fit: fill;

}
.update-btn {
	width: 60%;
}
.cancel-btn {
	width: 40%;
}

#edit_div {
	display: none;
}

.gallery-container {
	width: 70%;
}

.gallery {
	width: 33.33%;
	min-width: 200px;
	min-height: auto;
}

.gallery-img {
	object-fit: none;
}

.edit-btn {
	width: 40%;
}

#edit_profile {
	width: 100%;
}

.del-btn {
	width: 30%;
}

.set-btn {
	width: 60%;
}

.card-img-top {
	border: 1px solid grey;
}

.profile-fullname {
	font-size: 1.5vw;
}

.profile-username {
	font-size: 1.5vw;
}

.profile-email {
	font-size: 0.6vw;
}

@media screen and (max-width:800px)
{
	#thum {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.filter_img {
		width: 2vh;
		height: 2vh;
		position: relative;
		left: -10px;
		top: 7px;
	}

	.information {
		display: flex;
		flex-direction: column;
	}

	.infos {
		width: 100%;
		margin-bottom: 5%;
		margin-left: auto;
	}
	#edit_div {
		width: 80%;
	}
	#edit_profile {
		width: 80%;
	}

	.gallery-container {
		width: 100%;
	}

	.profile-pic {
		border-radius: 50%;
		width: 40vw;
		height: 40vw;
		object-fit: cover;
	}

	.profile-fullname
	{
		font-size: 5vw;
	}

	.profile-username
	{
		font-size: 3vw;
	}

	.profile-email
	{
		font-size: 3vw;
	}
}